:root {
    --orange: #ea771a;
    --white: #FFFFFF;
    --black: #000000;
  }

h1 {
    color: #3a241d;
	text-align: center;
   }

body {
	font-family: helvetica, arial, sans-serif;
}

#left-container {
	left: 0px;
}

#right-container {
	right: 0px;
}

.container {
    background-color: #eee;
	width: 15%;
	top: 0px;
	position: absolute;
	height: 100%;
	padding: 10px;
}

.plant-holder {
	position: relative;
	height: 13%;
	left: -10px;
}

.plant {
	position: absolute;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
}

.jar-walls {
    height: 80%;
    width: 60%;
    background: #d1e1df;
    border-radius: 1rem;
    position: absolute;
    bottom: 0.5%;
    left: 20%;
    opacity: 0.5;
    z-index: 2;
}

.btn {
    color: var(--black);
    background-color: #c99d00;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-holder {
    position: absolute;
    height: 8%;
    width: 9%;
    left: 46%;
    top: 17%;
    background: #231b00;
    border-radius: 30%;
    z-index: 10;

}


.lid-off {
    bottom: 85%;
    opacity: 0;
    transition: opacity 1s ease, bottom 1s ease;
}


.lid-on {
    opacity: 0.7;
    bottom: 80.5%;
    transition: opacity 0.5s ease, bottom 0.5s ease;
}

.jar-top {
	width: 50%;
	height: 5%;
	background: #d1e1df;
	position: absolute;
    left: 25%;
    z-index: -2;
}

.jar-bottom {
	width: 50%;
	height: 1%;
	background: #d1e1df;
	position: absolute;
	bottom: 0%;
	left: 25%;
	opacity: 0.7;
}

.dirt {
	width: 60%;
	height: 5%;
	background: #3a241d;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 0.7;
	z-index: -1;
}

.jar-glossy-long {
    width: 2.5%;
    height: 30%;
    background: #7f9896;
    position: absolute;
    bottom: 16%;
    left: 5%;
    opacity: 0.5;
    z-index: 1;
    border-radius: 1rem
}

.jar-glossy-short {
    width: 2.5%;
    height: 6%;
    background: #7f9896;
    position: absolute;
    bottom: 50%;
    left: 5%;
    opacity: 0.5;
    z-index: 1;
    border-radius: 1rem
}